<div class="container-fluid">
  <h1>Registration Form</h1>
  {{ registrationForm.value | json }}
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label>UserName</label>
      <input type="text" name="username" formControlName="username" placeholder="Enter username" class="form-control">
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input type="text" name="city" formControlName="city" placeholder="Enter City Name" class="form-control">
      </div>

      <div class="form-group">
        <label>State</label>
        <input type="text" name="state" formControlName="state" placeholder="Enter State" class="form-control">
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input type="text" name="postal_code" formControlName="postal_code" placeholder="Enter State" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="text" name="password" formControlName="password" placeholder="Enter password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="text" name="confirm_password" formControlName="confirm_password" placeholder="Enter password again" class="form-control">
    </div>

    <div class="form-group">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
